body {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

input, button {
  margin-right: 0.5em;
  font-size: 1.3em;
}

.addTarefa, .cadaTarefa, .importExport {
  display: flex;
}

.addTarefa {
  justify-content: center;
}

.cadaTarefa {
  align-items: baseline;
  margin: 2em;
  font-size: 1.5em;
}

.importExport {
  margin-bottom: 3em;
  width: 37em;
}
